<?xml version="1.0" encoding="iso-8859-1"?>
<ServiceConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" AutoStart="true" Delay="0">
  <Database Provider="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" Path="C:\Users\Admin\Desktop\PLCCom\Data\MachineDataIO.mdb" />
  <Server Protocol="opcda://" Address="localhost/" EndPoint="IBHSoftec.IBHOPC.DA.1" Process="IBHOPC" ServerType="IBH" />
</ServiceConfiguration>
