
#logo {
    width: 50px;
    padding: 5px;
}


footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#nav-doc {
    text-align: center;
    margin-top: 150px;
    width: 100%;
    height: 150px;
    position: fixed;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
}

#donationBlock{
    width: 300px;
    padding: 8px;
}

.block1 img {
    width: 220px;
    height: 200px; 
    border-radius: 100px;
}
.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.nav-item{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d-flex {
    padding: 10px;
}

#person {
    width: 50px;
    margin-right: 20px;
}

.login {
    width: 200px;
    margin-right: 30px;
}

.signup {
    width: 200px;
    margin-right: 30px;
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    word-wrap: break-word;
}

.new-box-container {
    margin-top: 50px;
    display: inline-block;
    margin: 0 50px;
}
.block1 h2 {
    color: #333333;
    text-shadow: 1px 1px #dddddd;
    margin-bottom: 20px;
 }

 .block1 p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
 }

#registerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    background: #faf9f9;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #ccc3c3;
    border-style: solid;
    border-width: 3px;
    border-color: #333;
    margin-top: 50px;
}
#star-project {
    margin-left: auto;
    padding: 5px;
}

#registerBlock a {
    margin-left: auto;
    padding: 5px;
}

h1{
    font-size: 60px;
}

.max-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-pagamenti {
    font-size: 30px;
    font-weight:700;
    width: 350px;
    height: 120px;
}

#register-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
 }

.table {
    font-size: 20px;
}

svg {
    width: 30px;
    height: 30px;
}
.details-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width:400px;
    height: 380px;
    background-color:white;
    margin-left: 40%;
}

.container{
    display: inline-flex;
    padding-bottom: 112px;
    padding-top: 100px;
}

#form-value,#second-form-value {
    width: 350px;
}

#bottone {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 50px;
    width: 380px;
    margin-left: 3px;
    color:aliceblue;
    font-size: 20px;
    background-color: rgb(30, 31, 32);
    border-radius: 10px;
    border: none;
}

#bottone2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(91, 169, 14);
    font-size: 22px;
    height: 50px;
    width: 250px;
}

hr{
    width: 30vh;
}



.images {
    margin-left: 60px;
    width: 200px;
}

#new-hr {
    margin-top: 30px;
    width: 130vh;
    margin-left: auto;
    margin-right: auto;
}

.d-flex{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.form-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


.dim {
    padding: 10px;
    margin-left: 30px;
}

.set-invisible {
    display: none;
}

#set-button-invisible {
    display: none;
}

.login-form {
    display: inline;
}


.list {
    display: flex;
    justify-content: center;
}

.arrow-project {
    width: 30px;
}

.arrow-project:hover {
    color: #046982;
}

#star-project:hover {
    color: #046982;
}

.identify-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-project {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 200;
    font-style:normal;
}

#personal-information {
    display: inline-block;
    margin-inline: 80px;
    text-align: center;
    background-color: white;
    width: 700px;
    height: 650px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px gray;
}

#information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#personal-information img {
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

#personal-information p {
    font-size: 30px;
    margin-bottom: 20px;
    clear: both;
}


header {
    text-align: center;
    font-size: 40px;
}

#email,#password {
    color: white;
}

#noproject {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.sostieni-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    width: 100px;
}

#totaldonations-button {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#value {
    font-size: 20px;
    font-weight: 100;
}

#author {
    margin-left: auto;
}

#nav-container {
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}