.header{
    width:400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.container{
   display: inline-flex;
   padding-bottom: 112px;
   padding-top: 80px;
   margin-left: 50px;
}

body {
    background-color:#F0F2F5 ;
}
.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
    width: 550px;
    margin-top: 2%;
    margin-left: 180px;
}

img{
    margin-left: 150px;
    width: 300px;
}

.registerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color:rgba(235, 230, 230, 0.89);
    justify-content: space-around;
    padding: 10px;
    width:400px;
    height: 380px;
    background-color:white;
    border-radius: 10px;
    margin-left: 60%;
    box-shadow: 0 1px 1px 1px ;
    border: none;
}

.block1 {
    display:flex;
    flex-direction: column;
    width: 380px;
}

.input {
    margin-top: 10px; /*per spazio tra due input block*/
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(223, 224, 225);
}

#bottone {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 50px;
    width: 380px;
    margin-left: 3px;
    color:aliceblue;
    font-size: 20px;
    background-color: rgb(17, 120, 210);
    border-radius: 10px;
    border: none;
}

#question {
    margin-left: 9px;
    font-size: 20px;
    color:rgb(17, 120, 210);
}

hr {
    width: 300px;
}

#bottone2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(91, 169, 14);
    font-size: 22px;
    height: 50px;
    width: 250px;
}

.paragraph {
    text-align: center;
    display: flex;
    width: 450px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 59%;
    padding-bottom: 30px;
}

footer{
    padding: 7px;
    background-color: white;
    height:300px;
}

#text {
    text-align: center;
    word-spacing: 12px;
}

#text2 {
    margin-left: 58vh;
}

#hr2{
    width: 100vh;
}